<div class="" ng-controller="MainFeedController">
  <!--<md-button class="md-fab md-fab-bottom-right" aria-label="Add" style="position: fixed">-->
  <!--</md-button>-->
  <!--<joystick class="joystick" position="pos"></joystick>-->

  <!--<p>{{pos.x}}, {{pos.y}}</p>&lt;!&ndash;&ndash;&gt;-->

  <md-toolbar style="height: 50px;">
    <div layout="row" layout-align="space-around center">
      <!--<h4>{{stream.length}} Tweets</h4>-->
      <div flex="33" layout="row" layout-align="center center">
        <!--<i  class="material-icons md-24">access_time</i>-->
        <md-select class="sortby" ng-model="timeOptionSelected" placeholder="From">
          <md-option ng-repeat="option in timeSort" value="{{option.value}}">
            <md-button ng-click="updateTimePeriod(option.value)">{{option.name}}</md-button>
          </md-option>
        </md-select>
        <!--<h4> Since {{dataUpTo}}</h4>-->
      </div>
      <div ng-click="showHideUsers()" flex="33" aria-label="Users" layout="row" layout-align="center center">
        <i class="material-icons md-36">person_outline</i>
        <h4> {{recentPeeps.length}} </h4>
      </div>
      <div flex="33" layout="row" layout-align="center center">
        <md-select class="sortby" ng-model="sortOptionSelected" placeholder="Sort By">
          <md-option ng-repeat="option in sortOptions" value="{{option.value}}">
            {{option.name}}
          </md-option>
        </md-select>
      </div>
    </div>
  </md-toolbar>
  <div ng-hide="usersHidden" layout="row" class="topusers">
    <img ng-click="gotoAnchor(person.user.name)" ng-repeat="person in recentPeeps"
         style="width: 48px; height: 48px; border-radius: 50%; "
         class="md-avatar-icon" ng-if="person"
         src="{{person.user.profile_image_url}}">
  </div>

  <md-tabs md-selected="selectedIndex" class="md-shadow-animated" md-dynamic-height md-swipe-content
           md-stretch-tabs="auto" md-center-tabs>
    <md-tab label="Feed" md-on-select="updateSortOptions()">
      <div layout="row" layout-align="center" class="signindiv-thin">
        <div flex="30">

        </div>
        <div flex="30">
          <md-button class="signinbutton" ng-if="QueueCount > 0" ng-click="updateFeed()">{{QueueCount}} New
            Tweets
          </md-button>
        </div>
        <div flex="30" layout-align="center center" layout="row">
          View Tweets/Users
        <md-switch flex="30" layout-align="end" ng-model="feedview" aria-label="Switch 1">
        </md-switch>

        </div>

        <!--&lt;!&ndash;&ndash;&gt;<md-button ng-click="goPerUser()">Update</md-button>-->
      </div>


      <!--<div layout="row" layout-align="center">-->
      <!--<md-progress-circular md-mode="{{modes[4]}}" md-diameter="20"></md-progress-circular>-->
      <!--</div>-->
      <div ng-hide="feedview" ng-if="recentPeeps" ng-repeat="person in currentTweets | orderBy : sortOptionSelected"
           class="container" ng-controller="SingleTweetCtrl">
        <!---->
        <!--| 'orderBy : '-tweets.length"-->
        <md-card id="{{person.user.name}}" class=" usercard">

          <md-card-content class="">
            <div class="" layout="row" layout-align="space-around center">
              <div flex="33" layout="column" layout-align="center center" class="">
                <img style="width: 48px; height: 48px;" class="md-avatar-icon" ng-if="person"
                     src="{{person.user.profile_image_url}}">
              </div>
              <div flex="45" layout="row" layout-align="center center" class="">
                <div layout="column">
                  <span class="md-title">{{person.user.name}}</span>
                  <span class="md-subhead">@{{person.user.screen_name}}</span>
                </div>

                <!--<md-button class="signinbutton" ng-click="follow()">{{followed}}-->
                <!--</md-button>-->

              </div>

              <div flex="33" layout="column" layout-align="center center">
                <div>{{person.tweets.length}}</div>
                <div> Tweets</div>
              </div>
            </div>
            <div flex layout="row" layout-align="center center" class="">
              <div layout="column" layout-align="center center" flex="timeflex" ng-hide="tweetsCollapsed" timeline
                   data="person.tweets" options="timelineConfig"></div>
              <div flex="80" ng-if="person.tweets.length == 1">
                <md-card style="position: relative;margin-top: 10px;background: whitesmoke; font-size: large"
                         layout="row"
                         ng-repeat="ptweet in person.tweets">
                  <div ng-bind-html="getHtml(ptweet.name)"></div>
                </md-card>
              </div>
            </div>
            <!--<div ng-if="person.tweets.length > 1" flex layout="row" layout-align="center center" class="">-->
            <!--&lt;!&ndash;class="animated rotateOutDownLeft"&ndash;&gt;-->
            <!--<md-button class="md-icon-button" aria-label="expandarrow" ng-click="toggleTweets()"><i-->
            <!--class="material-icons md-24">{{expandarrow}}</i></md-button>-->
            <!--</div>-->
            <div ng-show="tweetsCollapsed" layout="row" layout-align="center center">
              <div timeline data="person.tweets" options="timelineConfig"
                   style="width:auto;height: auto;"></div>
              <div layout="column" layout-align="space-around start">
                <div layout="row" ng-repeat="ptweet in person.tweets">
                  {{ptweet.name}}-{{ptweet.date}}
                </div>
              </div>
              <!--class="animated fadeInRight"-->
            </div>
          </md-card-content>
        </md-card>
      </div>
      <div ng-show="feedview" ng-if="justTweets" layout-align="center" layout-wrap="" layout="row">
        <md-card ng-repeat="item in justTweets" layout="center center" class="tweetcard">
          <div layout="row">
            <img   style="width: 48px; height: 48px;" class="md-avatar-icon circular" ng-if="item"
               ng-src="{{item.user.profile_image_url}}">
          <div flex="50" layout="column" layout-align="center center">
            <span class="md-title">{{item.user.name}}</span>
            <span class="md-subhead">@{{item.user.screen_name}}</span>
          </div>
          </div>
          <div ng-bind-html="getHtml(item.name + item.text)"></div>
          <div layout="row" layout-align="end">
            <div >
              <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 72">
                <path
                  d="M41 31h-9V19c0-1.14-.647-2.183-1.668-2.688-1.022-.507-2.243-.39-3.15.302l-21 16C5.438 33.18 5 34.064 5 35s.437 1.82 1.182 2.387l21 16c.533.405 1.174.613 1.82.613.453 0 .908-.103 1.33-.312C31.354 53.183 32 52.14 32 51V39h9c5.514 0 10 4.486 10 10 0 2.21 1.79 4 4 4s4-1.79 4-4c0-9.925-8.075-18-18-18z"/>
              </svg>
            </div>
            <div >
              <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 72">
                <path
                  d="M70.676 36.644C70.166 35.636 69.13 35 68 35h-7V19c0-2.21-1.79-4-4-4H34c-2.21 0-4 1.79-4 4s1.79 4 4 4h18c.552 0 .998.446 1 .998V35h-7c-1.13 0-2.165.636-2.676 1.644-.51 1.01-.412 2.22.257 3.13l11 15C55.148 55.545 56.046 56 57 56s1.855-.455 2.42-1.226l11-15c.668-.912.767-2.122.256-3.13zM40 48H22c-.54 0-.97-.427-.992-.96L21 36h7c1.13 0 2.166-.636 2.677-1.644.51-1.01.412-2.22-.257-3.13l-11-15C18.854 15.455 17.956 15 17 15s-1.854.455-2.42 1.226l-11 15c-.667.912-.767 2.122-.255 3.13C3.835 35.365 4.87 36 6 36h7l.012 16.003c.002 2.208 1.792 3.997 4 3.997h22.99c2.208 0 4-1.79 4-4s-1.792-4-4-4z"/>
              </svg>
            </div>
            <div >
              <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 72">
                <path
                  d="M38.723,12c-7.187,0-11.16,7.306-11.723,8.131C26.437,19.306,22.504,12,15.277,12C8.791,12,3.533,18.163,3.533,24.647 C3.533,39.964,21.891,55.907,27,56c5.109-0.093,23.467-16.036,23.467-31.353C50.467,18.163,45.209,12,38.723,12z"/>
              </svg>
            </div>
          </div>
        </md-card>


      </div>
      <!--<div ng-if="stream" ng-repeat="tweet in stream"><img src="{{tweet.user.profile_image_url}}">{{tweet.user.name}},-->
      <!--@{{tweet.user.screen_name}},{{tweet.created_at}} : {{tweet.text}}-->
      <!--</div>-->
    </md-tab>
    <md-tab label="Links" md-on-select="updateSortOptions()">

      <div class="container">
        <md-card class="usercard" ng-repeat="link in currentLinks | orderBy : sortOptionSelected">
          <md-card-content>
            <div md-padding layout="column">

              <div layout="row" layout-align="space-around center" ng-repeat="user in link.userObj">
                <img style="width: 48px; height: 48px;" class="md-avatar-icon"
                     src="{{user.user.profile_image_url}}">
                <a class="wraplink" flex="40" href="{{link.url}}" target="_blank">{{link.url}}</a>
                <div layout="row" layout-align="center center">
                  {{user.values.retweets}}
                  <svg class="action-icon" style="fill: #2dcb70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 72">
                    <path
                      d="M70.676 36.644C70.166 35.636 69.13 35 68 35h-7V19c0-2.21-1.79-4-4-4H34c-2.21 0-4 1.79-4 4s1.79 4 4 4h18c.552 0 .998.446 1 .998V35h-7c-1.13 0-2.165.636-2.676 1.644-.51 1.01-.412 2.22.257 3.13l11 15C55.148 55.545 56.046 56 57 56s1.855-.455 2.42-1.226l11-15c.668-.912.767-2.122.256-3.13zM40 48H22c-.54 0-.97-.427-.992-.96L21 36h7c1.13 0 2.166-.636 2.677-1.644.51-1.01.412-2.22-.257-3.13l-11-15C18.854 15.455 17.956 15 17 15s-1.854.455-2.42 1.226l-11 15c-.667.912-.767 2.122-.255 3.13C3.835 35.365 4.87 36 6 36h7l.012 16.003c.002 2.208 1.792 3.997 4 3.997h22.99c2.208 0 4-1.79 4-4s-1.792-4-4-4z"/>
                  </svg>
                </div>
                <div layout="row" layout-align="center center">
                  {{user.values.faves}}
                  <svg class="action-icon" style="fill: red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 72">
                    <path
                      d="M38.723,12c-7.187,0-11.16,7.306-11.723,8.131C26.437,19.306,22.504,12,15.277,12C8.791,12,3.533,18.163,3.533,24.647 C3.533,39.964,21.891,55.907,27,56c5.109-0.093,23.467-16.036,23.467-31.353C50.467,18.163,45.209,12,38.723,12z"/>
                  </svg>
                </div>
              </div>
            </div>
          </md-card-content>

        </md-card>
      </div>
    </md-tab>
    <md-tab label="PEEPS" md-on-select="updateSortOptions()">

      <md-content layout-padding style="background: inherit;">
        <md-grid-list
          md-cols-gt-md="12" md-cols="{{mdcols}}" md-cols-md="8" md-cols-sm="4"
          md-row-height-gt-md="1:1" md-row-height="4:3"
          md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
          <md-grid-tile
            ng-repeat="(key, tile) in colorTiles | orderBy : sortOptionSelected"
            ng-style="{
            'background': tile.color
          }" ng-click="updateTile(tile)"
            md-colspan="2" md-rowspan="2"
            md-colspan-gt-sm="{{tile.colspan}}"
            md-rowspan-gt-sm="{{tile.rowspan}}">

            <span class="tiletitle">{{tile.user.screen_name}} </span>
            <!--{{tile.colspan}}-->
            <img class="md-avatar-icon peepsicon"
                 src="{{tile.user.profile_image_url}}">
            <div class="retweetcount">
              <!--<img class="retweetcount" src="/modules/users/client/img/other/retweet.png">-->
              {{tile.retweets}}
              <!--<div class="retweetnum">-->
              <!--</div>-->
            </div>
            <div class="tweetcount"> {{tile.numtweets}}</div>

          </md-grid-tile>
        </md-grid-list>
      </md-content>
    </md-tab>
    <!--<md-tab label="TOPICS" md-on-select="updateSortOptions()">-->
    <!--<md-grid-list-->
    <!--md-cols-gt-md="12" md-cols="{{mdcols}}" md-cols-md="8" md-cols-sm="4"-->
    <!--md-row-height-gt-md="1:1" md-row-height="4:3"-->
    <!--md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">-->
    <!--<md-grid-tile ng-repeat="tile in topics">{{tile}}</md-grid-tile>-->
    <!--</md-grid-list>-->

    <!--</md-tab>-->
  </md-tabs>
</div>
