<section ng-controller="HomeController">

  <div id="top" layout="column" layout-align="center center">
    <div>
      <img alt="PURRCHR" src="https://vectr.com/theonlyhope/designs/untitled-j5OwItprW.svg"
           style="width: 250px;height: 250px">
    </div>
    <br>
    <!---->
    <div layout="column" layout-align="center center" style=" color: white; margin-top: -60px;">

      <h3 style="text-align: center">Explore your feed for relevant topics that matter to you</h3>

      <div class="signindiv">
        <md-button class="signinbutton" ng-click="callOauthProvider('/api/auth/twitter')">Sign in with Twitter
        </md-button>
        <!--<script type="text/javascript-lazy" data-maitre src='https://maitreapp.co/widget.js' async>-->
        <!--console.log("It works!");-->
        <!--</script>-->
      </div>
      <div layout="row" layout-align="center center">
        <img flex="90" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
             src="/modules/users/client/img/other/Feedscreenshot.png">
      </div>

    </div>
    <div id="features" layout="column" layout-align="space-around center" style="text-align: center">
      <div layout="row" layout-align="center center">
        <h3>Browse your timeline by user and view their activity.</h3>
      </div>
      <div layout="row" layout-align="center center">
        <h3>Follow hashtags and topics you're interested in and join engaging conversations.</h3>
      </div>
      <div style="padding: 25px" layout="row" layout-align="center center">
        <img flex="90" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
             src="/modules/users/client/img/other/hashtags.png">
      </div>
      <div layout="row" layout-align="center center">
        <h3>Control your feed. Filter based on a Time Period, Frequency, Virality and many others.</h3>
      </div>
      <div style="padding: 25px"  layout="row" layout-align="space-around center">
        <div>
          <img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
               src="/modules/users/client/img/other/times.png">
        </div>
        <div><img style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                  src="/modules/users/client/img/other/Activity.png">
        </div>
      </div>
    </div>
  </div>

</section>

<md-toolbar id="footer" style="background-color: rgba(211,101,13,1); text-align: center" layout="column"
            layout-align="center center">
  Copyright 2016 Purrchr. Email us at purrchr@gmail.com
</md-toolbar>
