<section ng-controller="HomeController">
  <div class="text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="PURRCHR" src="https://vectr.com/theonlyhope/designs/untitled-vABP5wFll.svg" style="width: 200px;height: 200px">
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Never Miss a Tweet
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://purrchr.herokuapp.com/signup" target="_blank">Join the Purrch</a>
      </p>
    </div>
  </div>
  <div class="text-center" >
    <h2>THIS IS PURRCHR</h2>
    <h2>CUT THROUGH THE NOISE. CHECK OUT WHAT HAPPENED AND WHAT'S HAPPENING</h2>
  </div>
</section>
