<md-content class="no-scroll">
    <!--style="background-color: darkgrey" style="background-color:#40C4FF;" /* Standard syntax (must be last) : linear-gradient(gold, gold); */-->
    <div class="md-padding container">

    <md-card id="topcard" flex-offset-gt-md="20" flex-gt-md="60" flex-offset-md="5" flex-offset-sm="5" flex-sm="90" flex-md="90">
        <!--<md-icon href="{{ul.selected.link}}" md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
        <div ng-if="ul.selected._id == undefined" layout="row" layout-align="center center"><h1 class="categorytext">{{ul.users[selectedIndex].name}}</h1></div>
        <div ng-if="ul.selected._id != undefined" layout="row" >
            <div ng-show="watchwidth" flex="initial" ng-click="redirectToAmazon(ul.selected.link)" layout="column" layout-padding layout-margin layout-align="center" ng-show="ul.selected.title" >
                <img class="resize1" src="./assets/jpg/{{ul.selected.image}}.jpg">
            </div>
            <div flex="shrink" layout="column"  layout-align="center center" ng-show="ul.selected.title">
                <div ng-hide="watchwidth" flex="initial" ng-click="redirectToAmazon(ul.selected.link)" layout-padding layout-margin layout-align="center" ng-show="ul.selected.title" >
                    <img class="resize1" src="./assets/jpg/{{ul.selected.image}}.jpg">
                </div>
                <div layout="row" layout-align="center space-around">
                    <h3>{{ul.selected.title}} by {{ul.selected.author}}</h3>
                </div>
                <div flex layout="row" layout-align="space-around center">
                    <div flex layout="column" layout-align="center center ">
                        <a ng-click="ul.upvote(ul.selected._id)"><ng-md-icon icon="arrow_drop_up"></ng-md-icon></a>
                        {{ul.selected.score}}
                        <a ng-click="ul.downvote(ul.selected._id)"><ng-md-icon icon="arrow_drop_down"></ng-md-icon></a>
                    </div>
                    <!--<div>Amazon Reviews: {{ul.selected.reviews}}</div>-->
                    <p flex="grow" layout-align="center space-around "> {{ul.selected.pages}}  Pages</p>
                </div>
                <p flex layout-align="center space-around"> Suggested By {{ul.selected.suggested.length}} </p>
                <div flex layout="row" layout-align="space-around center">
                    <md-list class="FamousList" layout="row">
                        <md-list-item class="famousItem" ng-repeat="person in ul.selected.suggested">
                            <md-tooltip>{{person}}</md-tooltip>
                            <img class="famousPerson" src="./assets/jpg/famous/{{person}}.jpg">
                        </md-list-item>
                    </md-list>
                </div>
                <!-- FOR CONTACT/MORE PUP UP DIALOG ng-click="ul.showContactOptions($event)"-->
                <md-button flex style="margin-bottom: 15px;" class="md-raised md-warn" md-no-ink ng-click="redirectToAmazon(ul.selected.link)" aria-label="Contact User">
                    <md-tooltip>{{ ul.selected.title }}</md-tooltip>
                    <!--<md-icon md-svg-icon="share"></md-icon>-->
                    READ
                </md-button>
            </div>
        </div>
        <div ng-if="ul.selected._id == undefined" layout="row"></div>
    </md-card>
    </div>
</md-content>

<md-tabs md-selected="selectedIndex" class="md-shadow-animated md-accent" md-dynamic-height md-swipe-content md-stretch-tabs="auto" md-center-tabs>
    <md-tab ng-repeat="it in ul.users" label="{{it.name}}" md-on-select="ul.selected= [];">
        <div class=" container md-padding"  >
            <!--/* Standard syntax (must be last) : linear-gradient(gold, gold); */-->
            <md-card flex-offset-gt-md="20" flex-gt-md="60" flex-offset-md="5" flex-offset-sm="5" flex-sm="90" flex-md="90">
                <div layout="row" layout-align="center center" md-padding>Click on each book for more information</div>
                <md-list>
                    <md-list-item  ng-repeat="book in ul.books | filter : {phase: it.phase}">
                        <!--<md-button ng-click="ul.selectBook(book)" >-->
                        <div flex layout="row" layout-align="space-around center" class="booklist" >
                            <div  flex="10" layout="column" layout-align="center center ">
                                <a ng-click="ul.upvote(book._id)"><ng-md-icon icon="arrow_drop_up"></ng-md-icon></a>
                                {{book.score}}
                                <a ng-click="ul.downvote(book._id)"><ng-md-icon icon="arrow_drop_down"></ng-md-icon></a>
                            </div>
                            <div  ng-click="ul.selectBook(book)">
                                <!--<md-icon md-svg-icon="share" class="avatar"></md-icon>-->
                                <img class="resize" src="./assets/jpg/{{book.image}}.jpg">
                                <!--<div class="resize" style='background-image: ./assets/jpg/{{book.image}}.jpg'></div>-->
                            </div>
                            <h3 class="booktitle" ng-click="ul.selectBook(book)" flex="50">{{book.title}} by {{book.author}}</h3>
                            <div layout="column" layout-align="center center">
                                <!--<md-button class="md-warn md-raised" ng-click="ul.deletebook(book._id)">Delete</md-button>-->
                            </div>
                        </div>
                        <!--</md-button>-->
                    </md-list-item>
                </md-list>
            </md-card>
        </div>
    </md-tab>
</md-tabs>